<h1 class="mb-4">Register</h1>
<form method="post">
    <fieldset class="mb-4">
        <label for="username" class="form-label"><small>Username: *</small></label>
        <input name="username" id="username" class="form-control" required />
    </fieldset>
    <fieldset class="mb-4">
        <label for="password" class="form-label"><small>Password: *</small></label>
        <div class="d-flex align-items-center">
            <input name="password" id="password" class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" aria-describedby="help" required />
            <img src="/images/show.png" alt="Show/Hide" id="imgShowHide" class="ms-2" onclick="showHide();" /> 
        </div>
        <div id="help" class="form-text">Min 8 characters, 1 digits, 1 uppercase, 1 lowercase</div>   
    </fieldset> 
    <fieldset class="mb-4">
        <label for="confirm" class="form-label"><small>Confirm: *</small></label>
        <input name="confirm" id="confirm" class="form-control mb-2" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="return checkPassword();" required />
        <span id="pwMsg"></span>
    </fieldset>
    <div class="d-grid">
        <button class="btn btn-primary mb-4" onclick="return checkPassword();">
            <i class="bi bi-person-fill-add pe-2"></i>Register
        </button>
    </div>
</form>