<section class="row">
    <h6 class="badge text-bg-secondary">{{record.child}}</h6>
    <h1>{{record.event}}</h1>
    <p>{{record.notes}}</p>
    <p>Date: {{record.updatedDate}}</p>
    <a href="/records" class="btn btn-primary">Back to List</a>
</section>
