<div class="row pb-5">
    <div class="col-md-8">
        <h1>Your Children</h1>
        <p>Create your child's profile to keep track of their information.</p>
    </div>
    <div class="col-md-4 align-self-md-center text-md-end">
        <p>
            <a href="/" class="btn btn-primary">Add New</a>
        </p>
    </div>
</div>

<div>
</div>