<div class="row pb-5">
    <div class="col-md-8">
        <h1>Art Gallery</h1>
        <p>Add your a photo of your child's artwork to look back on them fondly in the future.</p>
    </div>
    <div class="col-md-4 align-self-md-center text-md-end">
        <p>
            <a href="/" class="btn btn-primary">Add New</a>
        </p>
    </div>
</div>