<section class="d-flex flex-column text-center">
    {{#if user}}
        <h3 class="mb-4">Welcome, {{user.username}}!</h3>
    {{/if}}
    <h1>{{title}}: A Keepsake App for Parents</h1>
    <p class="w-75 m-auto">Experience the joy of parenthood without missing a beat. Duckie helps you simplify, organize, and preserve every precious memory of your child's life.</p>
</section>

{{!-- image --}}
<section class="container my-5">
    <img src="/images/mom-dad-moments.png" alt="Mom and Dad Moments" class="home-img" />
    {{!-- <Photo credit from Pexels: Father-son -
        https://www.pexels.com/photo/father-teaching-his-son-how-to-ride-a-bike-5792901/ Mother-daughter -
        https://www.pexels.com/photo/mother-playing-with-daughter-on-sofa-4868538/ --}} 
</section>

{{!-- features --}}
<section>
    <header class="col-xl-6 col-md-8 col-10 text-center m-auto mb-4">
        <h2>One app to store it all</h2>
        <p>Stay organized and easily keep track of all child-related information in a single app that you can pass on to your child as a cherished digital legacy.</p>
    </header>
    <div class="row justify-content-center">
        <article class="key-1 col-lg-3 col-md-5 mb-3">
            <h5>Document health information and history</h5>
            <p class="m-0">Use the health record feature to log health updates and noteworthy events concerning your child's well-being.</p>
        </article>
        <article class="key-2 col-lg-3 col-md-5 mb-3">
            <h5>Preserve moments of creativity and imagination</h5>
            <p class="m-0">Explore the artwork gallery feature to showcase your child's artwork and their inspiration behind each one.</p>
        </article>
            <article class="key-1 col-lg-3 col-md-5 mb-3">
            <h5>Capture special memories and thoughts</h5>
            <p class="m-0">Use the journal feature to record how you felt and what happened during those special moments in your child's life.</p>
        </article>
        <article class="key-2 col-lg-3 col-md-5 mb-3">
            <h5>Celebrate milestones and achievements</h5>
            <p class="m-0">Keep a detailed record of important dates and the significant milestones your child has achieved throughout the years.</p>
        </article>
    </div>
</section>