<div class="d-flex flex-column text-center">
    <h1>{{title}}: A Keepsake App for Parents</h1>
    <p class="w-75 m-auto">Experience the joy of parenthood without missing a beat. Duckie helps you simplify, organize, and preserve every precious memory of your child's life.</p>
</div>

{{!-- image --}}
<div class="container my-5">
    <img src="/images/mom-dad-moments.png" alt="Mom and Dad Moments" class="home-img" />
    {{!-- <Photo credit from Pexels: 
        Father-son - https://www.pexels.com/photo/father-teaching-his-son-how-to-ride-a-bike-5792901/
        Mother-daughter - https://www.pexels.com/photo/mother-playing-with-daughter-on-sofa-4868538/ --}}
</div>

{{!-- features --}}
<div class="key-grid">
    <div class="key-1">
        <div class="app-features mb-3">
            <div>
                <h5>Capture special memories and thoughts</h5>
                <p>Use the journal feature to record how you felt and what happened during those special moments in your child's life.</p>
            </div>
        </div>
    </div>
    <div class="key-2">
        <div class="app-features mb-3">
            <div>
                <h5>Celebrate milestones and achievements</h5>
                <p>Keep a detailed record of important dates and the significant milestones your child has achieved throughout the years.</p>
            </div>
        </div>
    </div>
    <div class="key-3">
        <div class="app-features mb-3">
            <div>
                <h5>One app to store it all</h5>
                <p>Stay organized and easily keep track of all child-related information in a single app that you can pass on to your child as a cherished digital legacy.</p>
            </div>
        </div>
    </div>
</div>