<section class="row pb-2">
    <header class="col-md-8">
        <h1>Your Children</h1>
        <p>Create your child's profile to keep track of their information.</p>
    </header>
    <aside class="col-md-4 align-self-md-center text-md-end">
        <p>
            <a href="/" class="btn btn-primary">Add New</a>
        </p>
    </aside>
</section>

<section class="row">
    {{#each children}}
    <article class="col-md-3 p-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.updatedDate}}</p>
                <a href="" class="card-link">Edit</a>
                <a href="" class="card-link">Delete</a>
            </div>
        </div>
    </article>
    {{/each}}
</section>